* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  display: flex;
}

.counterTest {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: rgb(189, 145, 145);
}

.formTest {
  width: 40%;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: rgb(122, 147, 161);
  line-height: 1.6;
}

.box {
  width: 10rem;
  height: 10rem;
  border: 2px solid rgb(34, 50, 3);
  margin: 1rem;
  padding: 1rem;
}

.name:hover .content {
  visibility: visible;
  background-color: rgb(74, 99, 99);
  position: relative;
  width: 50%;
  text-align: center;
}

.content {
  visibility: hidden;
  color: wheat;
  padding: 0px 20px;
  position: absolute;
}

.content::before {
  content: "";
  border-style: solid;
  border-width: 0px 10px 10px 10px;
  border-color: transparent transparent rgb(74, 99, 99) transparent;
  position: absolute;
  top: -10px;
  left: 6rem;
}
